<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ECommerceSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/AccessDenied.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- header content -->
    </header>

    <main role="main" class="container mt-4">
        @RenderBody()
    </main>

    
</body>
</html>
